#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 0em 0em 0em 0em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "RedHatDisplay";
  src: local("RedHatDisplay"),
   url("./fonts/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
 }

 @font-face {
  font-family: "RedHatDisplay-Bold";
  src: local("RedHatDisplay-Bold"),
   url("./fonts/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
 }


 

.card {
  padding: 1.5 em;
}

.read-the-docs {
  color: #888;
}

.ratingAsset {
  font-family: 'RedHatDisplay';
  font-weight: bolder;
  font-size: 120%;
  color:#18197c;
  margin-bottom: auto;
}

h1 {
  font-family: 'RedHatDisplay-Bold';
  color: #18197c;
}


